* {
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  width: 90%;
  margin: auto;
}

#navbar {
  margin: 20px 100px;
  padding: 0 0 50px 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.logo {
  padding: 0 30px;
}

.link {
  margin: 0 0 0 50px;
}

.link a {
  text-decoration: none;
  color: hsl(219, 9%, 45%);
  padding: 0 0 50px 15px;
  font-size: 15px;
}

.link a:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 3px solid hsl(26, 100%, 55%);
}

.profile {
  float: right;
}

.cart:hover {
  color: hsl(220, 13%, 13%);
}

.img {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
}

.img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 30px;
}

/*Main Page*/
.main {
  width: 70%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.product {
  height: 400px;
  width: 45%;
  margin: 60px 0;
  border-radius: 15px;
  float: left;
}

.about-product {
  float: right;
  width: 40%;
  padding: 70px 0 0 0;
}

h6 {
  font-weight: bold;
  color: hsl(26, 100%, 55%);
}

h1 {
  font-weight: bolder;
  color: hsl(220, 13%, 13%);
}

p {
  color: hsl(219, 9%, 45%);
  font-size: 14px;
  font-weight: bold;
}

h2 {
  color: hsl(220, 13%, 13%);
  font-weight: bolder;
}

h5 {
  display: inline;
}

/*Footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
