.container {
  width: 90%;
}

nav {
  width: 90%;
  margin: auto;
  padding: 0 30px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

.img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 15px;
}

.img:hover {
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 30px;
}

.product {
  border-radius: 15px;
}

.card {
  border: none !important;
}

.thumbnail {
  border-radius: 8px;
}

h6 {
  color: hsl(26, 100%, 55%);
  font-size: 0.8rem;
}

p {
  color: hsl(220, 14%, 75%);
}
