body {
  font-family: "Kumbh Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

#navbar {
  margin: 20px 100px;
  padding: 0 0 50px 0;
  border-bottom: 1px solid hsl(220, 14%, 75%);
}

a {
  text-decoration: none;
  color: hsl(220, 14%, 75%);
  padding: 25px;
}

a:hover {
  color: hsl(220, 13%, 13%);
  border-bottom: 3px solid hsl(26, 100%, 55%);
}
.cart {
  padding: 0 0 0 240px;
}
.image {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 110px;
  top: 10px;
  
